<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Tambah Item</title>
    <object th:include="fragments/fragment :: css" th:remove="tag"></object>
    <object th:include="fragments/fragment :: js" th:remove="tag"></object>
</head>

<body>

<nav th:replace="fragments/fragment :: navbar('Home')"></nav>
<div class="container justify-content-center">
    <br>
    <div class="card m-4 p-4 cardHome">
        <div class="card-body">
            <div class="justify-content-center">
                <h2 class="text-center"><b>Form Tambah Item</b></h2>
                <br>
                    <form action="/item/additem" method="post">
                    <table class = "table">
                        <h2 th:text="'Menambahkan Item ke cabang ' + ${namaCabang}"></h2>
                        <thead>
                        <tr>
                            <th>Nama Item</th>
                            <th class = "align-content-end">
                                <button class="btn btn-primary" type="submit" name="addRow">Tambah Row</button>
                            </th>
                        </tr>
                        </thead>
                        <tbody>
                            <tr th:each="item, iterationStatus:*{itemCabang}">
                                <td>
                                    Nama Item: <br>
                                    <!-- <select class="form-control" id="item" name="itemuuid">-->
                                    <select th:field="*{itemCabang[__${iterationStatus.index}__].uuid}">
                                        <option selected value=""> -- Pilih Item -- </Option>
                                        <option th:each="i : ${items}" th:value="${i.uuid}" th:text="${i.nama}"></option>
                                    </select>
                                    <br><br>
                                </td>
                                <td>
                                    Jumlah: <br>
                                    <input class="form-control" min = "1" type="number" th:name="itemstok" placeholder = "-- Kuantitas Item --" th:field ="*{itemCabang[__${iterationStatus.index}__].stok}"/>
                                    <br><br>
                                </td>
                                <td>
                                    <button th:value = "${iterationStatus.index}" class = "btn btn-danger" type = "submit" name="deleteRow">Hapus</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                        <input hidden type="number" name="noCabang" th:value="${noCabang}">
                        <input type="submit" value="Tambah" class="btn btn-primary" name="save">
                    </form>
            </div>
        </div>
    </div>
</div>

<script th:replace="fragments/fragment :: src1"></script>
<script th:replace="fragments/fragment :: src2"></script>
<script th:replace="fragments/fragment :: src3"></script>

</body>
</html>