<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <object th:include="fragments/fragment :: css" th:remove="tag"></object>
    <object th:include="fragments/fragment :: js" th:remove="tag"></object>
</head>
<body class="login-html">
<!--style="background-image: url('https://cdn.pixabay.com/photo/2020/10/01/17/11/store-5619201_960_720.jpg');"-->
<div class="container-fluid section-login">
    <div class="row d-flex align-items-center flex-column justify-content-center h-50">
        <div class="col-md-4">
            <div class="card mb-3 cardHome">
                <img src="https://cdn.pixabay.com/photo/2020/10/01/17/11/store-5619201_960_720.jpg" class="card-img-top" height="200">
                <div class="card-body justify-content-center">
                    <h2 class="card-title text-center"> <b>Log In</b> </h2>
                    <div th:if="${param.error}">
                        <span style="color: red">Invalid username or password</span>
                    </div>
                    <form th:action="@{/login}" method="POST">
                        Username: <br>
                        <input class="form-control" type="text" name="username" />
                        <br>

                        Password: <br>
                        <input type="password" class="form-control " name="password">
                        <br>
                        <br>
                        <button type="submit" class="btn btn-primary tombol-sign"> Sign In </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>