<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <title>Password Salah</title>
    <object th:include="fragments/fragment :: css" th:remove="tag"></object>
    <object th:include="fragments/fragment :: js" th:remove="tag"></object>
</head>
<body>
<nav th:replace="fragments/fragment :: navbar('Home')"></nav>
<br><br>
<div class="container-fluid">
    <h3>Pesan : </h3>
    <h2 th:text="${message}"></h2>



    <br><br><br>
    <form th:action="@{/user/viewalluser}" method="GET">
        <button type="submit" class="btn btn-primary">Back</button>
    </form>

</div>
</body>
</html>