<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <title>Daftar User</title>
    <object th:include="fragments/fragment :: css" th:remove="tag"></object>
    <object th:include="fragments/fragment :: js" th:remove="tag"></object>
</head>

<body class="login-html">

<nav th:replace="fragments/fragment :: navbar('User')"></nav>
<div class="container justify-content-center">
    <div class="container justify-content-center">
        <div class="card m-4 p-4 cardHome">
            <div class="card-body">
                <div class="d-flex justify-content-center">
                    <h2 class="txt-align"><b> Daftar User</b></h2>
                    <div class="alert" th:if=${pesanError}>
                        <br>
                        <div th:text="${pesanError}" class="alert alert-danger" onclick="this.parentElement.style.display='none';"></div>
                    </div>
                </div>
                <br>
                <div class="table-responsive">
                    <table class="table">
                        <thead class="thead-dark">
                        <tr>
                            <th class="text-center align-middle"></th>
                            <th class="text-center align-middle">ID User</th>
                            <th class="text-center align-middle">Nama</th>
                            <th class="text-center align-middle">Username</th>
                            <th class="text-center align-middle">Role</th>
                            <th class="text-center align-middle"></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="user, iterationStatus : ${userList}">
                            <td class="text-center align-middle" th:text="${iterationStatus.count}"></td>
                            <td class="text-center align-middle" th:text="${user.id_user}"></td>
                            <td class="text-center align-middle" th:text="${user.namaUser}"></td>
                            <td class="text-center align-middle" th:text="${user.username}"></td>
                            <td class="text-center align-middle" th:text="${user.role.getRole()}"></td>
                            <td class="text-center align-middle">
                                <a class="btn btn-primary btn-primary" th:href="@{/user/update/} + ${user.username}">Ubah</a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div>
                    <a class="btn btn-primary" th:href="@{/user}">Kembali</a>
                </div>
            </div>
        </div>
        <br>
        <br>
    </div>
    <br>
    <br>
</div>
<script th:replace="fragments/fragment :: src1"></script>
<script th:replace="fragments/fragment :: src2"></script>
<script th:replace="fragments/fragment :: src3"></script>

</body>
</html>