<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <title>Detail Cabang</title>
    <object th:include="fragments/fragment :: css" th:remove="tag"></object>
    <object th:include="fragments/fragment :: js" th:remove="tag"></object>
</head>

<body>

<nav th:replace="fragments/fragment :: navbar('Cabang')"></nav>
<div class="container justify-content-center">
    <br>
    <div class="card m-4 p-4 cardHome">
        <div class="card-body">
            <div class="justify-content-center">
                <h2 class="text-center"><b>Detail Cabang</b></h2>
                <div class="alert" th:if=${pesanError}>
                    <br>
                    <div th:text="${pesanError}" class="alert alert-danger" onclick="this.parentElement.style.display='none';"></div>
                </div>
                <br>
                <p><b>ID Cabang: </b><span th:text="${cabang.noCabang}"></span></p>
                <p><b>Nama Cabang: </b><span th:text="${cabang.namaCabang}"></span></p>
                <p><b>Alamat: </b><span th:text="${cabang.alamatCabang}"></span></p>
                <p><b>Ukuran: </b><span th:text="${cabang.ukuranCabang}"></span></p>
                <p><b>No. Telepon: </b><span th:text="${cabang.noTelpCabang}"></span></p>
                <div th:if="${cabang.statusCabang} == 0"><p><b>Status: </b>Menunggu Persetujuan</p></div>
                <div th:if="${cabang.statusCabang} == 1"><p><b>Status: </b>Ditolak</p></div>
                <div th:if="${cabang.statusCabang} == 2"><p><b>Status: </b>Disetujui</p></div>
                <br>
                <p><b>List Item:</b></p>
                <div th:if="*{listItem.size() != 0}">
                    <div class="table-responsive">
                        <table class="table">
                            <thead class="thead-dark">
                            <tr>
                                <th class="text-center align-middle">No</th>
                                <th class="text-center align-middle">Nama Item</th>
                                <th class="text-center align-middle">Harga</th>
                                <th class="text-center align-middle">Stok</th>
                                <th class="text-center align-middle">Kategori</th>
                                <th class="text-center align-middle">ID Promo</th>
                                <th class="text-center align-middle">Promo</th>
                                <th class="text-center align-middle">Promo</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="item, iterationStatus : ${listItem}">
                                <td class="text-center align-middle" th:text="${iterationStatus.count}"></td>
                                <td class="text-center align-middle" th:text="${item.namaItem}"></td>
                                <td class="text-center align-middle" th:text="${item.hargaItem}"></td>
                                <td class="text-center align-middle" th:text="${item.stokItem}"></td>
                                <td class="text-center align-middle" th:text="${item.kategori}"></td>
                                <td class="text-center align-middle" th:text="${item.id_promo}"></td>
                                <td th:if="${item.id_promo} == 0">
                                    <form th:action="@{/couponList/} + ${cabang.noCabang} + @{/} + ${item.id}">
                                        <input hidden type="number" name="id" th:value="${item.id}">
                                        <input hidden type="text" name="namaitem" th:value="${item.namaItem}">
                                        <button class="btn btn-success" type="submit">Terapkan Promo</button>
                                    </form>
                                </td>
                                <td th:if="${item.id_promo} != 0">
                                    Sudah Didiskon!
                                </td>
                                <td>
                                    <form action="/item/delete" method="post">
                                        <input hidden type="number" name="id" th:value="${item.id}">
                                        <input hidden type="text" name="namaitem" th:value="${item.namaItem}">
                                        <button class="btn btn-danger btn-sm" type="submit">Delete</button>
                                    </form>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div th:unless="*{listItem.size() != 0}">
                    <h2 th:text="'Tidak ada item!'"></h2>
                </div>
                <br>
                <a class="btn btn-danger" th:href="@{/cabang}">Kembali</a>
                <a class="btn btn-success" th:href="@{/item/additem/} + ${cabang.noCabang}">Add Item</a>
                <a class="btn btn-success" th:href="@{/item/requestitem/} + ${cabang.noCabang}">Request Item</a>
            </div>
        </div>
    </div>
</div>

<script th:replace="fragments/fragment :: src1"></script>
<script th:replace="fragments/fragment :: src2"></script>
<script th:replace="fragments/fragment :: src3"></script>

</body>
</html>