<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <title>Daftar Permintaan</title>
    <object th:include="fragments/fragment :: css" th:remove="tag"></object>
    <object th:include="fragments/fragment :: js" th:remove="tag"></object>
</head>

<body>

<nav th:replace="fragments/fragment :: navbar('Cabang')"></nav>
<div class="container justify-content-center">
    <br>
    <div class="card m-4 p-4 cardHome">
        <div class="card-body">
            <div class="d-flex justify-content-center">
                <h2 class="txt-align"><b>Daftar Permintaan</b></h2>
            </div>
            <br>
            <div class="table-responsive">
                <table class="table">
                    <thead class="thead-dark">
                    <tr>
                        <th class="text-center align-middle">No</th>
                        <th class="text-center align-middle">ID Cabang</th>
                        <th class="text-center align-middle">Nama</th>
                        <th class="text-center align-middle">No Telp</th>
                        <th class="text-center align-middle">Ukuran (m<sup>2</sup>)</th>
                        <th class="text-center align-middle">Status</th>
                        <th colspan="2" class="text-center align-middle">Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="cabang, iterationStatus : ${permintaan}">
                        <td class="text-center align-middle" th:text="${iterationStatus.count}"></td>
                        <td class="text-center align-middle" th:text="${cabang.noCabang}"></td>
                        <td class="text-center align-middle" th:text="${cabang.namaCabang}"></td>
                        <td class="text-center align-middle" th:text="${cabang.noTelpCabang}"></td>
                        <td class="text-center align-middle" th:text="${cabang.ukuranCabang}"></td>
                        <td class="text-center align-middle" th:if="${cabang.statusCabang} == 0">Menunggu Persetujuan</td>
                        <td class="text-center align-middle" th:if="${cabang.statusCabang} == 1">Ditolak</td>
                        <td class="text-center align-middle" th:if="${cabang.statusCabang} == 2">Disetujui</td>
                        <td class="text-center align-middle">
                            <form th:action="@{/cabang/accept}" method="POST">
                                <input type="hidden" th:name="noCabang" th:value="${cabang.noCabang}"/>
                                <button class="btn btn-success" type="submit">Accept</button>
                            </form>
                        </td>
                        <td class="text-center align-middle">
                            <form th:action="@{/cabang/reject}" method="POST">
                                <input type="hidden" th:name="noCabang" th:value="${cabang.noCabang}"/>
                                <button class="btn btn-danger" type="submit">Reject</button>
                            </form>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <a class="btn btn-primary" th:href="@{/cabang}">Kembali</a>
        </div>
    </div>
    <br>
    <br>
</div>

<script th:replace="fragments/fragment :: src1"></script>
<script th:replace="fragments/fragment :: src2"></script>
<script th:replace="fragments/fragment :: src3"></script>

</body>
</html>