<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <title>Daftar Permintaan</title>
    <object th:include="fragments/fragment :: css" th:remove="tag"></object>
    <object th:include="fragments/fragment :: js" th:remove="tag"></object>
</head>

<body>

<nav th:replace="fragments/fragment :: navbar('Cabang')"></nav>
<div class="container justify-content-center">
    <br>
    <div class="card m-4 p-4 cardHome">
        <div class="card-body">
            <div class="d-flex justify-content-center">
                <h2 class="txt-align"><b>Daftar Permintaan</b></h2>
            </div>
            <br>
            <div class="table-responsive">
                <table class="table">
                    <thead class="thead-dark">
                    <tr>
                        <th class="text-center align-middle">No</th>
                        <th class="text-center align-middle">ID Cabang</th>
                        <th class="text-center align-middle">Nama</th>
                        <th class="text-center align-middle">No Telp</th>
                        <th class="text-center align-middle">Ukuran (m<sup>2</sup>)</th>
                        <th class="text-center align-middle">Status</th>
                        <th colspan="2" class="text-center align-middle">Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="cabang, iterationStatus : ${permintaan}">
                        <td class="text-center align-middle" th:text="${iterationStatus.count}"></td>
                        <td class="text-center align-middle" th:text="${cabang.noCabang}"></td>
                        <td class="text-center align-middle" th:text="${cabang.namaCabang}"></td>
                        <td class="text-center align-middle" th:text="${cabang.noTelpCabang}"></td>
                        <td class="text-center align-middle" th:text="${cabang.ukuranCabang}"></td>
                        <td class="text-center align-middle" th:if="${cabang.statusCabang} == 0">Menunggu Persetujuan</td>
                        <td class="text-center align-middle" th:if="${cabang.statusCabang} == 1">Ditolak</td>
                        <td class="text-center align-middle" th:if="${cabang.statusCabang} == 2">Disetujui</td>
                        <td class="text-center align-middle">
                            <button class="btn btn-success" th:attr="onclick=|popupaccept('${cabang.noCabang}')|" >Accept</button>
                        </td>
                        <td class="text-center align-middle">
                            <button class="btn btn-danger" th:attr="onclick=|popupreject('${cabang.noCabang}')|">Reject</button>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <a class="btn btn-primary" th:href="@{/cabang}">Kembali</a>
        </div>
    </div>
    <br>
    <br>
</div>

<script th:replace="fragments/fragment :: src1"></script>
<script th:replace="fragments/fragment :: src2"></script>
<script th:replace="fragments/fragment :: src3"></script>
<script th:replace="fragments/fragment :: src4"></script>
<script>

    function acceptcabang($value) {
        turnOff();
        $.ajax({
            type: "POST",
            url : "/internal/api/cabang/accept/" + $value,
            data : {},
            success: function(response) {
                $("body").append(
                    `
                        <div class="overlay" onclick="turnOff()">
                            <div class="overlay-item">
                                <h4> Cabang dengan Nama `+ response + ` Berhasil disetujui  </h4>
                                <br>
                                <div class="d-flex justify-content-center">
                                    <button id="overlay-close" onclick="turnOffPesan()" class="mx-2 btn btn-success" > Tutup </button>
                                </div>
                            </div>
                        </div>
                        `
                );
            },
        });
    }

    function rejectcabang($value) {
        turnOff();
        $.ajax({
            type: "POST",
            url : "/internal/api/cabang/reject/" + $value,
            data : {},
            success: function(response) {
                $("body").append(
                    `
                        <div class="overlay" onclick="turnOff()">
                            <div class="overlay-item">
                                <h4> Cabang dengan Nama `+ response + ` ditolak  </h4>
                                <br>
                                <div class="d-flex justify-content-center">
                                    <button id="overlay-close" onclick="turnOffPesan()" class="mx-2 btn btn-success" > Tutup </button>
                                </div>
                            </div>
                        </div>
                        `
                );
            },
        });
    }

    function popupaccept($value) {
        $("body").append(
            `
            <div class="overlay" onclick="turnOff()">
                <div class="overlay-item">
                    <h3> Apakah anda yakin ingin menerima permintaan cabang dengan ID `+ $value + ` ?  </h3>
                    <br>
                    <div class="d-flex justify-content-center">
                        <button class="mx-2 btn btn-outline-success" onclick="acceptcabang(`+ $value + `)"> Terima </button>
                        <button id="overlay-close" onclick="turnOff()" class="mx-2 btn btn-outline-primary" > Batal </button>
                    </div>
                </div>
            </div>
            `
        );
    }

    function popupreject($value) {
        $("body").append(
            `
            <div class="overlay" onclick="turnOff()">
                <div class="overlay-item">
                    <h3> Apakah anda yakin ingin menolak permintaan cabang dengan ID `+ $value + ` ?  </h3>
                    <br>
                    <div class="d-flex justify-content-center">
                        <button class="mx-2 btn btn-outline-danger" onclick="rejectcabang(`+ $value + `)"> Tolak </button>
                        <button id="overlay-close" onclick="turnOff()" class="mx-2 btn btn-outline-primary" > Batal </button>
                    </div>
                </div>
            </div>
            `
        );
    }

    function turnOff() {
        $(".overlay").remove();
    }

    function turnOffPesan() {
        $(".overlay").remove();
        location.reload();
    }

</script>

</body>
</html>