<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <title>Daftar Cabang</title>
    <object th:include="fragments/fragment :: css" th:remove="tag"></object>
    <object th:include="fragments/fragment :: js" th:remove="tag"></object>
</head>

<body>

<nav th:replace="fragments/fragment :: navbar('Cabang')"></nav>
<div class="container justify-content-center">
    <br>
    <div class="card m-4 p-4 cardHome">
        <div class="card-body">
            <div class="d-flex justify-content-center">
                <h2 class="txt-align"><b>Daftar Cabang</b></h2>
            </div>
            <br>
            <div class="table-responsive">
                <table class="table">
                    <thead class="thead-dark">
                    <tr>
                        <th class="text-center align-middle">No urut</th>
                        <th class="text-center align-middle">Nomor </th>
                        <th class="text-center align-middle">Nama </th>
                        <th class="text-center align-middle">No Telp</th>
                        <th class="text-center align-middle">Ukuran (m<sup>2</sup>)</th>
                        <th class="text-center align-middle">Jumlah Item</th>
                        <th class="text-center align-middle">Status</th>
                        <th class="text-center align-middle"></th>
                        <th class="text-center align-middle"></th>
                        <th class="text-center align-middle"></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="cabang, iterationStatus : ${listCabang}">
                        <td class="text-center align-middle" th:text="${iterationStatus.count}"></td>
                        <td class="text-center align-middle" th:text="${cabang.noCabang}"></td>
                        <td class="text-center align-middle" th:text="${cabang.namaCabang}"></td>
                        <td class="text-center align-middle" th:text="${cabang.noTelpCabang}"></td>
                        <td class="text-center align-middle" th:text="${cabang.ukuranCabang}"></td>
                        <td class="text-center align-middle" th:text="${#lists.size(cabang.listItem)}"></td>
                        <td class="text-center align-middle" th:if="${cabang.statusCabang} == 0"> Menunggu Persetujuan </td>
                        <td class="text-center align-middle" th:if="${cabang.statusCabang} == 1"> Ditolak </td>
                        <td class="text-center align-middle" th:if="${cabang.statusCabang} == 2"> Disetujui </td>
                        <td class="text-center align-middle"><a class="btn btn-info btn-sm" th:href="@{/cabang/view(noCabang=${cabang.noCabang})}">Detail</a></td>
                        <div sec:authorize="hasAnyAuthority('Manager Cabang', 'Kepala Retail')">
                            <td class="text-center align-middle"><a class="btn btn-primary btn-sm" th:href="@{/cabang/update/} + ${cabang.noCabang}">Update</a></td>
                            <td class="text-center align-middle"><a class="btn btn-danger btn-sm" th:href="@{/cabang/delete/} + ${cabang.noCabang}">Delete</a></td>
                        </div>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div>
                <br><br>
                <a class="btn btn-success" sec:authorize="hasAnyAuthority('Manager Cabang', 'Kepala Retail')" th:href="@{/cabang/create}"> Add Cabang </a>
                <a class="btn btn-primary" href="/">Home</a>
            </div>
        </div>
    </div>
    <br>
    <br>
</div>

<script th:replace="fragments/fragment :: src1"></script>
<script th:replace="fragments/fragment :: src2"></script>
<script th:replace="fragments/fragment :: src3"></script>

</body>
</html>