.cardHome {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

.txt-align{
    text-align: center;
}

.input-mysize { length: 300px }

.cardAddBoba{
    margin-bottom: 100px;
}